In [1]:
#  question 1   create one variable containing following types of data 
#                string,float, tuple, list

In [2]:
A = ( 443.67,"abc",[ 13,4,78,"xyz", True ], (23,56,90,"mno") )

In [13]:
""" question 2  name the data type of following 
var1 =''                      (string)
var2 = '[DS,ML,PYTHON]'       (string)
var3 = ["DS","ML","PYTHON"]    (list)
var4 = 1.                      (integer) """

In [17]:
""" Q3. explain use of operator 
 1. / = divide operator 
 2. % = modulous operator
 3. // = floor division 
 4. ** = exponant operator """

' explain use of operator \n 1. / = divide operator \n 2. % = modulous operator\n 3. // = floor division \n 4. ** = exponant operator '

In [16]:
50/5

10.0

In [18]:
67%5

2

In [19]:
67//5

13

In [57]:
5**3

125

In [ ]:
# Q4 Create a list of length 10 of your choice containing multiple types of data.
#Using for loop print theelement and its data type.

In [26]:
a = [ 23, 45.67, "abc", True, 5+4j ]

In [27]:
for i in a :
    print(i)
    print(type(i))

23
<class 'int'>
45.67
<class 'float'>
abc
<class 'str'>
True
<class 'bool'>
(5+4j)
<class 'complex'>

In [28]:
""" question 5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""

' question 5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [29]:
#  Q6. Create a list containing 25 int type data. Using for loop and if-else condition 
#print if the element is divisible by 3 or not.

In [30]:
s = [ 12,34,56,78,43,65,23,32,15,17,86,87,534,535,785,400,60,40,46,68,200,300,450,350,670]

In [35]:
for i in s :
    if i%3 == 0:
        print(i,"element is divisible by 3" )
    else :
        print (i,"element is not divisible by 3")

12 element is divisible by 3
34 element is not divisible by 3
56 element is not divisible by 3
78 element is divisible by 3
43 element is not divisible by 3
65 element is not divisible by 3
23 element is not divisible by 3
32 element is not divisible by 3
15 element is divisible by 3
17 element is not divisible by 3
86 element is not divisible by 3
87 element is divisible by 3
534 element is divisible by 3
535 element is not divisible by 3
785 element is not divisible by 3
400 element is not divisible by 3
60 element is divisible by 3
40 element is not divisible by 3
46 element is not divisible by 3
68 element is not divisible by 3
200 element is not divisible by 3
300 element is divisible by 3
450 element is divisible by 3
350 element is not divisible by 3
670 element is not divisible by 3

In [37]:
# question 7:mutable data can be mutated or changed or corrected whereas immutable data c not be changed 
# example  string is immutable whereas list and integer are mutable .

In [38]:
b = [23,45,56,78]

In [39]:
b[0]=60

In [40]:
b

[60, 45, 56, 78]

In [44]:
var = "varsha2020"

In [56]:
var[0]= k
print(var)

TypeError: 'str' object does not support item assignment